a:link{
	color: #002953;
}

a:visited{
	color: #002953;
}

.container-panel{
	position: fixed;
	top: 0px;
	left: 0px;
	width: 50%;
	height: 100%;
}

.container-list{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 50%;
	height: 100%;
	background-color: #FFF;
	overflow: auto;
}

.list-item{	
	padding: 10px;
	border-bottom: 1px dashed #858585;
}

.list-item:hover .item-title{
	text-decoration: underline;
	font-size: 18px;
}

.list-item .item-title{
	color: #002953;
}

.list-item .item-description{
	color: #858585;
	font-size: 12px;
	margin: 5px 10px;
	text-align: justify;
}

.easeInOut{
	transition: all 0.3s ease-in-out;
		-webkit-transition: all 0.3s ease-in-out;
		-moz-transition: all 0.3s ease-in-out;
}

.content{
	width: 100%; 
	height: 100%; 
	position: relative;
}

.content-chart{
	position: absolute;
	width: 100%;
	top: 50%;
	left: 0;
	margin-top: -220px;
	padding: 10px;
}

nav .dropdown{
	padding: 0px 10px;
}